header h1.mdl-layout-title {
    font-size: 32px;
    color: white;
}


.buttonDiv{
    display:none;
}

body {
    font-weight: 2em;
}

.loginForm {
    position:absolute;
    left:50%;
}

header h1 span {
    color: #ff6e40;
}

#Uni {
    background: url('/Images/University.png') bottom right 15% no-repeat;

}

#BEmp {
    background: url('/Images/Employees.png') bottom right 15% no-repeat;
}

#BBooks {
    background: url('/Images/Books.png') bottom right 15% no-repeat;

}

#About {
    background: url('/Images/Question.png') bottom right 15% no-repeat;

}

form {
    padding:1%;
    margin-left:20%;
    padding-bottom:0%;
}


#uniformFilters {
    display:inline-block;
    margin-left:15%;
}

#uniformFilters select{
    width:250px;
    height:35px;
    margin-right:15px;
}


.mdl-data-table {
    margin:0 auto;
    min-width:80%;
}


.mdl-data-table td {
    text-align: center;
    text-overflow: ellipsis;
    max-width: 375px;
    overflow: hidden;
    white-space: nowrap;
}

.mdl-data-table th {
    text-align: center;
}


#SubCategories {
    columns: 3;
    list-style-position: inside;
}

#Unilist {
    columns: 2;
    list-style-position: inside;
}

.profile {
    background-color: #263238;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.profile span {
    font-size: 90%;
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;

    display: block;
}

.page-content {
    margin: 10px;
}

main header {
    margin: 0;
    min-height: 40px;
    padding-left: 10px;
    padding-top: 5px;
}

main header h4 {
    margin: 0;

    font-size: 18px;
}


.card-lesson>.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.card-lesson>.mdl-card__title {
    align-items: flex-start;
}

.card-lesson>.mdl-card__title>h4 {
    margin-top: 0;
}

.card-lesson>.mdl-card__title,
.card-lesson>.mdl-card__supporting-text,
.card-lesson>.mdl-card__actions,
.card-lesson>.mdl-card__actions>.mdl-button {
    _color: #fff;
}

.totals {
    font-style: italic;
}

.grandtotals {
    font-weight: 700;
    color: #6200EA;
}

.mdl-grid {
    max-width: 960px;

}

.mdl-cell {
    margin-left: auto;
    margin-right: auto;
}
.singleBookCard    {
    display: inline-block;
    width:50%;
}
#titleDiv{
    margin-top: 15px;
    font-size: 1.25em;
    font-weight: bold;
}
#titlePic {
    float:left;
}

#bookCover {
    box-shadow: 10px 10px 5px #888888;
    border:1px solid rgba(96,125,139,0.7);
}

#filterCard .mdl-card__supporting-text {
      display:none;
}

#searchInput {
    margin-top: 64px;
    position: fixed;
    right:110px;
    top:0;
    
}
#searchForm {
    margin-left:0%;
}
#searchForm input{
    display:inline-block;
}

#searchForm i{
    display:inline-block;
}

.material-icons {
    margin-left: 15px;
    margin-right: 15px;
}

header .mdl-button{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #6f83a5;
    color:white;
}

.mdl-layout__header{
    margin-bottom: 40px;
}

#menuDropdown{
    cursor: pointer;
}

.mdl-textfield {
    display:inline-block;
    margin-right:8%;
    width:200px;
}

.mdl-selectfield {
    display:inline-block;
}

.mdl-selectfield select{
    margin-right:40px;
    border:none;
    width:150px;
    height:37px;
}

#empButtonFilter {
     float:right;
}

select{
  color: rgba(0,0,0,.54);
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.formFilters .mdl-card__supporting-text {
    padding:0px;
}

.empFilter{
    padding:0;
}

tr:nth-child(odd) {
    background: rgba(255,171,64,0.1);
}

thead tr:nth-child(1) {
    background:rgba(96,125,139,0.7);
}

tr:nth-child(even) {
    background:rgba(96,125,139,0.1);
}

th {
    background:rgba(96,125,139,0.7);
    
}

.mdl-data-table th{
    color:#BCC8CE;
    font-size:1.3em;
}
.login {
    background:url("/Images/CRMLogo.png");
    background-repeat:no-repeat;
    background-position: center; 
    background-color:rgba(96,125,139,0.7);
}
            
.loginForm {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
                
    height:40%;
    width:25%;
    min-height:280px;
    min-width:0px;
                
    background-color:rgb(255, 189, 102);
}
            
#logForm {
    padding:1%;
}

.overlay{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.overlay-content{
  margin: 12% 0;
  width:70%;
}

.floatingCover{
  float:right;
}